CONFIG_64BIT=y
CONFIG_PRINTK=y
CONFIG_BLK_DEV_INITRD=y
CONFIG_RD_GZIP=y
CONFIG_BINFMT_ELF=y
CONFIG_BINFMT_SCRIPT=y
CONFIG_TTY=y
CONFIG_SERIAL_8250=y
CONFIG_SERIAL_8250_CONSOLE=y
CONFIG_PROC_FS=y
CONFIG_SYSFS=y

CONFIG_INITRAMFS_SOURCE=""
CONFIG_RD_BZIP2=n
CONFIG_RD_LZMA=n
CONFIG_RD_XZ=n
CONFIG_RD_LZO=n
CONFIG_RD_LZ4=n
CONFIG_RD_ZSTD=n
CONFIG_CORE_DUMP_DEFAULT_ELF_HEADERS=y
CONFIG_SERIAL_8250_DEPRECATED_OPTIONS=n
CONFIG_SERIAL_8250_16550A_VARIANTS=n
CONFIG_SERIAL_8250_FINTEK=n
CONFIG_SERIAL_8250_NR_UARTS=1
CONFIG_SERIAL_8250_RUNTIME_UARTS=1
CONFIG_SERIAL_8250_EXTENDED=n
CONFIG_SERIAL_8250_DW=n
CONFIG_SERIAL_8250_RT288X=n

CONFIG_TICK_CPU_ACCOUNTING=y
CONFIG_VIRT_CPU_ACCOUNTING_GEN=n
CONFIG_GENERIC_CPU=y
CONFIG_MK8=n
CONFIG_MPSC=n
CONFIG_MCORE2=n
CONFIG_MATOM=n
CONFIG_X86_REROUTE_FOR_BROKEN_BOOT_IRQS=n
CONFIG_X86_5LEVEL=y
CONFIG_AMD_MEM_ENCRYPT=n
CONFIG_X86_KERNEL_IBT=n
CONFIG_X86_INTEL_MEMORY_PROTECTION_KEYS=n
CONFIG_LEGACY_VSYSCALL_XONLY=n
CONFIG_LEGACY_VSYSCALL_NONE=y
CONFIG_IA32_EMULATION=n
CONFIG_X86_X32_ABI=n
CONFIG_VMAP_STACK=y
CONFIG_MEMORY_HOTPLUG=n
CONFIG_STACK_VALIDATION=n
CONFIG_PAGE_TABLE_CHECK=n
CONFIG_KASAN=n
CONFIG_UNWINDER_ORC=n
CONFIG_UNWINDER_FRAME_POINTER=y
CONFIG_KCOV=n
